@import "./src/style/base/colors"
@import "./src/style/base/media"

.input-upload
  display: flex
  flex-direction: column
  margin: 1.5em 0 .5em
  max-width: 100%
  width: 100%
  box-shadow: none !important
  
  +md-up
    margin: .5em 0 0

  &__wrapper
    padding: 16px
    border: 2px dashed $input-upload__border-color
    &:hover
      box-shadow: 0 0 2px 0 $input-upload__shadow-color

  &__label
    padding: 0 1em 0.4em
    width: 100%
    color: $input-upload__label-color
    font-size: 1em
    font-weight: 400
    +md-up
      padding-top: 0.5em

  &__content
    display: flex
    align-items: center
    justify-content: space-between
    +xs-only
      flex-direction: column

  &__button
    background-color: $input-upload__button-bg-color
    +xs-only
      margin-bottom: 16px

  &__files
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    margin: 0 auto

.uploaded-file
  display: flex
  align-items: center
  flex-direction: column
  position: relative
  padding: 16px 24px
  margin: 8px

  will-change: box-shadow
  border-radius: 2px
  transition: box-shadow .28s ease

  &:hover
    box-shadow: 0 0 4px 0 rgba($uploaded-file__box-shadow-color, .4)

  &__name
    font-size: 12px
  &__preview
    height: auto
    width: 40px
  &__remove
    $size: 24px
    $spacing: 6px
    display: inline-block
    vertical-align: middle
    position: absolute
    top: 0
    right: 0
    padding: $spacing
    height: $size
    width: $size
    border: none
    border-radius: 2px
    background-color: transparent
    line-height: ($size - 2*$spacing)
    text-align: center
    cursor: pointer
    &:hover
      background-color: $uploaded-file__remove-bg-color
      color: $uploaded-file__remove-color
