/*---------------- About Section ----------------*/
@import "./src/style/base/colors"
@import "./src/style/base/media"
@import "./src/style/base/variables"


.about
  background-color: hsla(249, 47%, 98%, 1)
  &__subtitle
    font-weight: 800
    text-align: center

  &__experience-container
    max-width: 80%
    width: 100%
    margin: 0 auto
    text-indent: 16px
  &__experience-item
    font-size: $font--17-22
    margin-bottom: 6px
    text-align: left
    font-style: italic

  &__skills-list
    $sideSpacing: 16px
    padding: 24px $sideSpacing
    margin-top: ($sideSpacing * 2)
    margin-left: ($sideSpacing * -1)
    margin-right: ($sideSpacing * -1)
    background: $white
    box-shadow: 0 10px 24px 0 rgba($primaryDark, .2)
    +sm-up
      $sideSpacing: 24px
      padding: $sideSpacing
      margin-left: ($sideSpacing * -1)
      margin-right: ($sideSpacing * -1)

    +md-up
      padding: ($sideSpacing * 2)

  &__skill
    display: flex
    +xs-only
      flex-direction: column
      align-items: center
    & figure
      min-width: $skill__icon-size
      max-width: $skill__icon-size
      +sm-up
        margin-right: 16px
      +xl-up
        min-width: 104px
        max-width: 104px
      & img
        width: 100%
        height: auto
        object-fit: contain

    & i
      color: $primary
      font-size: 90px
      height: 90px
      width: 90px
    & h4
      margin: 0 0 8px
      line-height: 1.25
      +xs-only
        text-align: center
    & div
      +xs-only
        max-width: 350px
    & p
      font-size: $font--16-20
      position: relative
      margin: 0

    @media (max-width: 1000px)
      &:last-child
        margin-bottom: 0
