//filter item
$filter__text: adjust_color($headingsColor, $alpha: -0.2)
$filter_hover__text: $headingsColor
$filter_selected__text: $white
$filter__bg: $white
$filter_selected__bg: mix($secondaryLight, $textColor, 80%)
$filter__interactive-shadow: 0 2px 10px 0 rgba($darkColor, 0.32)
$filter_selected__interactive-shadow: 0 2px 8px 0 rgba($darkColor, 0.18)

.filter
  $spacing: 4px
  &__headline
    display: flex
    justify-content: space-between
    align-items: baseline
    padding-right: 24px
  &__count
  &__clear
    display: block
    background: transparent
    border: none
    font:
      size: 11px
      weight: 600
    line-height: 1.4
    cursor: pointer
    color: $secondaryLight
    text-decoration: underline
  &__list
    display: flex
    flex-wrap: wrap
    margin: -#{$spacing}
    padding: 0 24px
  &__item
    display: block
    margin: $spacing
    padding: 4px 8px
    background-color: $filter__bg
    border-radius: 2px
    font-size: 14px
    cursor: pointer
    color: $filter__text
    will-change: background-color, color, box-shadow
    transition-property: background-color, color, box-shadow
    transition-timing-function: $v--standard-easing
    transition-duration: .18s
    &:hover, &:focus
      box-shadow: $filter__interactive-shadow
      color: $filter_hover__text
    &--selected
      background-color: $filter_selected__bg
      box-shadow: $filter_selected__interactive-shadow
      color: $filter_selected__text
      &:hover
        background-color: $secondaryLight
        box-shadow: $filter_selected__interactive-shadow
        color: $filter_selected__text

    input[type="checkbox"]
      display: none
