/*---------------- Sections ----------------*/

.animate-box
  display: flex
  align-items: center
  flex-direction: column

section
  $padding: 80px
  
  display: flex
  align-items: center
  flex-direction: column
  padding: $padding 0
  background: $section_bg-color

  +sm-up
    padding: ($padding + 20px) 0
  +md-up
    padding: ($padding + 45px) 0
  &:first-child
    padding-top: ($padding / 2)

section, #hero
  position: relative
  z-index: 201
