/*---------------- Sections ----------------*/

.animate-box
  display: flex
  flex-direction: column
  align-items: center

section
  display: flex
  flex-direction: column
  align-items: center
  padding: 80px 0
  background: $sectionBgColor

  +sm-up
    padding: 100px 0
  +md-up
    padding: 125px 0

.section
  &__header
    display: flex
    flex-direction: column
    align-items: center
    text-align: center

  &__title
    color: darken($textColor, 18%)
    margin-bottom: 16px
    text-transform: capitalize
    text-shadow: 2px 1px 7px #fff
    font-weight: bold
  &__description
    font-size: $font--16-20
    line-height: 1.8
    margin-bottom: 16px
    max-width: 600px
    padding: 0 16px

section, #hero
  position: relative
  z-index: 201
