*
  margin: 0
  padding: 0
  box-sizing: border-box
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
html
  font:
    weight: normal
    size: 16px
    family: 'Avenir Next LT Pro', 'Open Sans', sans-serif
  color: darken($textColor, 18%)
  cursor: default
  overflow-x: hidden
  min-width: 300px

.body
  &__content
    height: 100%
    position: relative
    z-index: 2

ul, nav
  list-style: none
  margin: 0
  padding: 0

a
  color: inherit
  -webkit-touch-callout: none

a, button
  cursor: pointer
  text-decoration: none
  outline-color: $primaryLight
  opacity: 0.9
  transition-property: color, box-shadow, background-color, opacity
  transition-duration: .28s
  transition-timing-function: $v--standard-easing
  &:hover
    opacity: 1

hr
  width: 88px
  height: 3px
  background-color: $secondary
  border: 0
  margin-top: 8px
  margin-bottom: 48px
  +xs-only
    margin-bottom: 40px

.link
  font-weight: 600
  line-height: 20px
  &--external
    color: $secondaryDark
    text-decoration: underline
    transition: border
    display: block


.btn-group
  $button-gap: 8px
  display: flex
  margin: -8px
  [class*="btn"]
    margin: $button-gap
  +xs-only
    flex-direction: column
    [class*="btn"]
      width: calc(100% - #{$button-gap * 2})
.toTop
  position: fixed
  font-size: xx-large
  color: $links
  padding: 5px
  bottom: 20px
  right: 20px
  z-index: 998
  &:hover, &:focus, &:active
    color: $secondary

svg
  max-width: 100%

#particles-js
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
  z-index: -1

::selection
  background-color: $secondaryLight
  color: #ffffff
::-moz-selection
  background-color: $secondaryLight
  color: #ffffff

input
  +placeholder
    color: transparent
    transition: color 0.1s $v--standard-easing

.focused input
  +placeholder
    color: lighten($textColor, 10%)
    transition: color 0.18s $v--standard-easing 0.24s
