$font--14-16: calc(14px + (16 - 14) * ((100vw - 300px) / (1900 - 300)))
$font--14-18: calc(14px + (18 - 14) * ((100vw - 300px) / (1900 - 300)))
$font--16-20: calc(16px + (20 - 16) * ((100vw - 320px) / (1900 - 320)))
$font--17-22: calc(17px + (22 - 17) * ((100vw - 320px) / (1900 - 320)))

$font--18-23: calc(18px + (23 - 18) * ((100vw - 400px) / (1600 - 320)))
$font--23-28: calc(23px + (28 - 23) * ((100vw - 400px) / (1920 - 400)))
$font--25-32: calc(25px + (32 - 25) * ((100vw - 320px) / (1920 - 320)))
$font--32-54: calc(32px + (54 - 32) * ((100vw - 400px) / (1920 - 320)))

$font-h1: $font--32-54
$font-h2: $font--25-32
$font-h3: $font--23-28
$font-h4: $font--18-23

$photo-size: calc(150px + (270 - 150) * ((100vw - 320px) / (1900 - 320)))