@import "./src/style/base/colors"

$tabs_brk: 868px

.header
  &, &__wrapper
    display: flex
    align-items: center

  justify-content: center

  &__wrapper
    justify-content: space-between

  padding: 16px 0
  position: fixed
  width: 100%
  will-change: transform, padding, background-color
  background-color: $header_bg-color
  z-index: 999
  transform: translateY(0%)
  transition: all .28s ease-in

  .tab__item
    &:first-child
      margin-left: 0
    &:last-child
      margin-right: 0

  &--smaller
    padding-top: 8px
    padding-bottom: 8px
    background-size: cover
    box-shadow: 0 2px 16px 0 rgba($secondary, 0.2)
    @media screen and (min-width: 868px) //+breakpoint(868px)
      opacity: 0.9
