@import "./src/style/base/colors"
@import "./src/style/base/variables"

$tabs_brk: 868px

.tab
  &__list
    display: flex
    flex-wrap: wrap
    margin: 0
    padding: 0
    position: relative
    list-style: none
    opacity: 1 !important
    transform: scale3d(1, 1, 0) translate3d(1, 1, 0)
    @media screen and (min-width: $tabs_brk)
      animation: none!important

  &__line
    border:
      style: solid
      color: transparent
      width: 0 48px
    left: 0
    top: 100%
    height: 2px
    width: 130px
    position: absolute
    pointer-events: none
    will-change: transform
    transition: transform 0.5s cubic-bezier(1, 0.01, 0, 1.22)
    span
      background: $links
      width: 100%
      height: 3px
      display: block
      margin: 0 auto
      border-radius: 2px

  &__item
    display: block
    padding: 16px
    cursor: pointer
    -webkit-touch-callout: none
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
    width: 130px
    vertical-align: middle
    text-align: center
    font:
      size: 18px
      weight: 600
    color: $textColor
    will-change: color, font-size
    transition: color 0.18s $v--standard-easing
    user-select: none
    &:hover, &:focus
      color: $links
      outline: none
    @media screen and (max-width: 500px)
      font-size: 18px
    @media screen and (max-height: 500px) and (max-width: 500px)
      font-size: 14px
    &.current
      color: $linksDark
      transition: color .5s
    &:nth-child(1).current ~ .tab__line
      transform: translate3d(0, 0, 0)
    &:nth-child(2).current ~ .tab__line
      transform: translate3d(100%, 0, 0)
    &:nth-child(3).current ~ .tab__line
      transform: translate3d(200%, 0, 0)

  @media screen and (max-width: $tabs_brk)
    &__list
      flex-direction: column
      justify-content: center
      align-items: center
      position: fixed
      right: 0
      top: 0
      width: 100%
      height: 100vh
      z-index: 999
      background-color: mix($primaryLight, white, 10%)
      &:not(.animated)
        visibility: hidden
    &__item
      position: relative
      text-transform: uppercase
      width: auto
