@import "./src/style/base/colors"
@import "./src/style/base/media"

%inputLabel--filled
  color: $input--filled__label-color
  font-size: 14px
  transform: translateY(-75%)
  +md-up
    font-size: 1em
    transform: translateX(-100%)

// c-input--fabian
&--fabian
  &::after
    content: ''
    display: block
    position: absolute
    left: 0
    right: 0
    bottom: 0
    height: 0
    width: 100%
    background: $secondaryLight
    border-radius: 0 0 2px 2px
    transition: height 0.18s cubic-bezier(0, 0.25, 0.5, 1)
    z-index: 22

  &__label
    position: absolute
    width: auto
    transform: translateX(0)
    transition: transform 0.24s cubic-bezier(0, 0.25, 0.5, 1), opacity 0.25s, color 1s ease-out

  &__field:focus + .c-input--fabian__label,
  &__field:not(:placeholder-shown) + .c-input--fabian__label
    @extend %inputLabel--filled
  &.filled, &.focused
    &::after
      height: 2px
